# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# PORT
PORT = 3000

# DATABASE
# TEST
# sqlite
DATABASE_URL="file:../sqlite.db"
# PRODUCT

# JWT_PASSPORT_SECRET
JWT_PASSPORT_SECRET=

# IP_ADDRESS will be your's own local IP
IP_ADDRESS=

# BACKEND_IP
BACKEND_IP = 

# BACKEND_PASSWORD
BACKEND_PASSWORD = 

# BACKEND_TEST_PASSWORD
BACKEND_TEST_PASSWORD = 

# USER_TEST_PASSWORD
USER_TEST_PASSWORD = 

# JWT_EXPIRESIN (milliseconds)
# 24 hours = 86400000 milliseconds
JWT_EXPIRESIN = 

# DATETIME_BASE_URL
DATETIME_BASE_URL = 

# PEPPER
PEPPER = 


